<div class="row">
    <div class="col-12 col-md-6">
        <label>Imię:</label>
        <input type="text" name="first_name" required>
        </br>
        <label>Nazwisko:</label>
        <input type="text" name="last_name" required>
        </br>
        <label>Email:</label>
        <input type="email" name="email" required>
        </br>
        </br>
        <p>Kategoria wagowa</p>
        <input type="radio" name="weight" value="Waga ciężka" required>
        <label>Waga ciężka</label>
        </br>
        <input type="radio" name="weight" value="Waga średnia" required>
        <label>Waga średnia</label>
        </br>
        <input type="radio" name="weight" value="Waga półśrednia" required>
        <label>Waga półśrednia</label>
        </br>
        <input type="radio" name="weight" value="Waga lekka" required>
        <label>Waga lekka</label>
    </div>
    <div class="col-12 col-md-6">
        <p>Dyscyplina i formuła:</p>
        <input type="radio" name="formule" value="Zapasy w stylu wolnym" required>
        <label>Zapasy w stylu wolnym</label>
        </br>
        <input type="radio" name="formule" value="Zapasy w stylu klasycznym" required>
        <label>Zapasy w stylu klasycznym</label>
        </br>
        <input type="radio" name="formule" value="Kickboxing w formule K1" required>
        <label>Kickboxing w formule K1</label>
        </br>
        <input type="radio" name="formule" value="Kickboxing w formule full-contact" required>
        <label>Kickboxing w formule full-contact</label>
        </br>
        <input type="radio" name="formule" value="BJJ w formule GI" required>
        <label>BJJ w formule GI</label>
        </br>
        <input type="radio" name="formule" value="BJJ w formule no-gi" required>
        <label>BJJ w formule no-gi</label>
        </br>
        <input type="radio" name="formule" value="MMA w formule amatorskiej" required>
        <label>MMA w formule amatorskiej</label>
        </br>
        <input type="radio" name="formule" value="MMA w formule zawodowej" required>
        <label>MMA w formule zawodowej</label>
        </br>
    </div>
</div>